.wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
}

.side {
  width: 50%;
}

h1 {
  margin-top: 50px;
}
