<div class="wrapper">
  <div class="right side">
    <h1>JE COUVE</h1>
    <div class="logo">
      <%= image_tag("poule.png", size: "350x350", alt: "Poule logo") %>
    </div>
    <h1>UN SUPER PROJET</h1>
  </div>
  <div class="left side">
    <button id="boutonClic" class="bouton">
      Tu nous soutiens ?
    </button>
    <p>
      <span id="nombreClics">0</span> personnes intéressées !
    </p>
    <p>site en construction... STAY TUNED !</p>
  </div>
</div>

